{% extends "base.html" %}

{% block content %}


{% load crispy_forms_tags %}


<div class="row d-flex justify-content-center">
<form method='POST' action="" class="m-5 bg-dark text-light p-5" style="width:45%">



    {% csrf_token %}
   {% if form.non_field_errors %}
   {% for i in form.non_field_errors %}
   <div class='bg-dark text-light'>{{i}}</div>
   {% endfor %}
   {% endif %}

   <h2 class="text-center">Log In musicsite </h2>

    <!-- {{form|crispy}} -->

    {% for i in form %}
    {{i.label_tag}}
    {{i}}
    {{i.errors}}
    {% endfor %}



<div class="row d-flex justify-content-center mt-4">
<input class="btn btn-warning" type="submit" value="LOG IN">
</div>
</form>
</div>

{% endblock %}